{
	"$schema": "https://json.schemastore.org/swcrc",
	// override
	"jsc":
	{
		"parser":
		{
			"syntax": "typescript"
		},
		"minify":
		{
			"mangle": true,
			"compress": true
		},
		// core options
		"target": "esnext", "loose": true,
		// path aliasing
		"baseUrl": "./", "paths": {	"@": ["./src"], "@/*": ["./src/*"] }
	},
	// should minify?
	"minify": true
}
