{
	"$schema": "https://json.schemastore.org/swcrc",
	// override
	"jsc":
	{
		"parser":
		{
			"syntax": "typescript"
		},
		"minify":
		{
			"mangle":
			{
				"properties": {},
				"toplevel": true
			},
			"compress":
			{
				"unsafe": true
			}
		},
		// core options
		"target": "esnext", "loose": true,
		// path aliasing
		"baseUrl": "./", "paths": { "@": ["./src"], "@/*": ["./src/*"] }
	},
	// should minify?
	"minify": true
}
