{
	"$schema": "https://json.schemastore.org/swcrc",
	// override
	"jsc":
	{
		"parser":
		{
			"syntax": "typescript"
		},
		"minify":
		{
			"mangle": true,
			"compress": true
		},
		// path aliasing
		"baseUrl": "./", "paths": { "@/*": ["./src/*"] }
	},
	// should optimize?
	"minify": true
}
